    /*body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}*/
    
    * {
        box-sizing: border-box;
    }
    
    body {
        max-width: 1440px;
    }
    
    a {
        text-decoration: none;
    }
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    h1 h2 h3 h4 h5 h6 {
        margin: 0;
    }
    
    p {
        margin: 0;
        /*text-align: center;*/
    }
    
    button {
        padding: 0;
    }
    
    img {
        display: block;
        overflow: hidden;
        display: block;
        max-width: 100%;
        height: auto;
    }
    
    .container {
        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    .page-header {
        border-bottom: 1px solid #e7e9fc;
        height: 72px;
        flex-shrink: 0;
        box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
    
    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
        display: inline-flex;
        height: 24px;
        align-items: center;
        flex-shrink: 0;
    }
    
    .logo-studio {
        color: #2e2f42;
    }
    
    .main-navigation {
        display: flex;
        align-items: center;
    }
    
    .main-nav {
        display: flex;
        /* padding-top: 24px;*/
    }
    
    .nav-bar {
        display: flex;
        gap: 40px;
    }
    
    .nav-bar-item {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        text-decoration: none;
        padding: 24px 0;
    }
    
    .current-page {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .current-page::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }
    
    .nav-bar:hover {
        color: #404BBF;
    }
    
    .nav-bar:focus {
        color: #404BBF;
    }
    
    .address-info {
        margin-left: auto;
    }
    
    .contact-information-list {
        font-style: normal;
        display: flex;
        gap: 40px;
        /* margin-left: 156px;*/
    }
    
    .contact-information-item {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .contact-information-item:hover {
        color: #404bbf;
    }
    
    .contact-information-item:focus {
        color: #404bbf;
    }
    
    .opening-banner {
        background-color: #2e2f42;
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office-1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
    }
    
    .main-header {
        font-weight: bold;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
        max-width: 496px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .order-button {
        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .order-button:hover {
        background-color: #404BBF;
    }
    
    .order-button:focus {
        background-color: #404BBF;
    }
    
    .about-us-section {
        padding: 120px 0;
    }
    
    .rectangle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background: #F4F4FD;
        margin-bottom: 8px;
    }
    
    .about-us {
        display: flex;
        gap: 24px;
    }
    
    .about-us-list-item {
        width: calc((100% - 72px) / 4);
    }
    
    .list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        /*text-align: center;*/
    }
    
    .about-us-point {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    
    .team {
        background-color: #F4F4FD;
        padding: 120px 0;
    }
    
    .team-members-table {
        /* display: inline-flex;
    padding-bottom: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px; */
        background-color: #FFFFFF;
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
    
    .section-title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
    }
    
    .team-members {
        display: flex;
        gap: 24px;
    }
    
    .member-role {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
    }
    
    .team-member-details {
        /* display: flex;
    /*width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;*/
        padding: 32px 0;
        /*display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 32px 16px;
    /*padding: 32px 0;
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;*/
    }
    
    .social-media-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
    
    .sm-list-items {
        width: 40px;
        height: 40px;
    }
    
    .sm-link {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .sm-svg {
        fill: #f4f4fd;
    }
    
    .sm-link:hover {
        background-color: #404bbf;
    }
    
    .sm-link:focus {
        background-color: #404bbf;
    }
    
    .portfolio-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .portfolio-title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
    }
    
    .portfolio {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        /*text-align: center;*/
    }
    
    .portfolio-list {
        width: calc((100% - 48px) / 3);
        /*border: 1px solid #E7E9FC;*/
        /*background: #FFF;*/
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        /*position: relative;*/
    }
    
    .portfolio-list:hover .portfolio-hover-text {
        transform: translateY(0%);
    }
    
    .portfolio-list:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    /*.portfolio-list:hover .portfolio-hover-text-element {
    transform: translateY(0%);
} */
    
    .list-content {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }
    
    .list-title {
        margin-bottom: 8px;
        text-align: center;
    }
    
    .portfolio-point {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    
    .portfolio-hover-text {
        position: absolute;
        top: 0%;
        color: #F4F4FD;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    /*.portfolio-hover-text-element {
    position: absolute;
    top: 0%;
    background: #4D5AE5;
    height: 100%;
    padding-top: 40px;
    padding-left: 32px;
    padding-bottom: 164px;
    padding-right: 32px;
    transform: translateY(100%);
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
    
    .potfolio-image-hover-text {
        position: relative;
        overflow: hidden;
    }
    
    .page-bottom {
        background-color: #2e2f42;
        padding: 100px 0;
        position: relative;
    }
    
    .fotter-content {
        display: flex;
        align-items: baseline;
    }
    
    .logo-bottom {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
    }
    
    .logo-studio-bottom {
        color: #f4f4fd;
    }
    
    .bottom-content {
        margin-right: 120px;
        width: 264px;
        height: 112px;
        /*margin-left: 156px;*/
    }
    
    .bottom-text {
        line-height: 1.5;
        color: #F4F4FD;
        letter-spacing: 0.02em;
        max-width: 264px;
    }
    
    .sm-bottom-p {
        color: #FFF;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        margin-bottom: 16px;
    }
    
    .social-media-icons-footer {
        display: flex;
        gap: 16px;
    }
    
    .sm-bottom-list-item {
        width: 40px;
        height: 40px;
    }
    
    .sm-bottom-link {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .sm-bottom-link:hover {
        background-color: #31d0aa;
    }
    
    .sm-bottom-link:focus {
        background-color: #31d0aa;
    }
    
    .sm-icon-bottom-svg {
        fill: #f4f4fd;
    }
    
    .subscribe-section {
        margin-left: 80px;
    }
    
    .subscribe-header {
        width: 75px;
        height: 24px;
        color: #FFF;
        /* Body Medium */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
        margin-bottom: 16px;
    }
    
    .subscribe-email {
        width: 246px;
        height: 40px;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid var(--WHITE, #FFF);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
    }
    
    .subscribe-email::placeholder {
        color: var(--WHITE, #FFF);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 200% */
        letter-spacing: 0.48px;
    }
    
    .subscribe-btn {
        width: 165px;
        height: 40px;
        margin-left: 24px;
        background: #4D5AE5;
        padding: 8px 24px;
        color: #FFF;
        text-align: center;
        /* Button Text */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.64px;
        border: 4px;
    }
    
    .subscribe-icon {
        position: absolute;
        top: 148px;
        right: 183px;
        bottom: 140px;
    }
    
    .backdrop {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        background-color: rgba(46, 47, 66, 0.40);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    
    .modal {
        width: 408px;
        height: 584px;
        flex-shrink: 0;
        border-radius: 4px;
        background: #FCFCFC;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
        position: absolute;
        top: 80px;
        left: 516px;
        right: 516px;
        padding: 24px;
    }
    
    .close-modal-btn {
        margin-left: auto;
        width: 24px;
        height: 24px;
        padding: 8px;
        background-color: #E7E9FC;
        border-radius: 50%;
        border: 1px;
        border-color: #E7E9FC;
        position: absolute;
        top: 24px;
        left: 360px;
        right: 24px;
        flex-shrink: 0;
    }
    
    .close-modal-btn:active {
        background-color: #404BBF;
        fill: #FFFFFF;
    }
    
    .close-modal-btn-icon {
        position: absolute;
        top: 8px;
        right: 8px;
        bottom: 8px;
        left: 8px;
    }
    
    .modal-title {
        text-align: center;
        font-size: 16px;
        color: #2E2F42;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        max-width: 360px;
        max-height: 24px;
        margin-top: 48px;
        margin-bottom: 16px;
    }
    
    .modal-form {
        display: flex;
        width: 360px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    
    .form-label {
        color: #8E8F99;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        /* 116.667% */
        letter-spacing: 0.48px;
    }
    
    .modal-input {
        width: 360px;
        height: 40px;
        padding-left: 38px;
        flex-shrink: 0;
        border: 1px solid;
        border-color: #8E8F99;
        border-radius: 4px;
    }
    
    .modal-input:active {
        border-color: #4D5AE5;
    }
    
    .inut-icon {
        position: relative;
    }
    
    .form-input-icon-1 {
        fill: #2E2F42;
        position: absolute;
        top: 138px;
        left: 40px;
        right: 326;
    }
    
    .form-input-icon-2 {
        fill: #2E2F42;
        position: absolute;
        top: 204px;
        left: 40px;
        right: 326;
    }
    
    .form-input-icon-3 {
        fill: #2E2F42;
        position: absolute;
        top: 270px;
        left: 40px;
        right: 326;
    }
    
    .modal-text-input {
        width: 360px;
        height: 120px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid rgba(46, 47, 66, 0.40);
    }
    
    .modal-text-input ::placeholder {
        width: 57px;
        height: 14px;
        color: rgba(46, 47, 66, 0.40);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
    }
    
    .check-terms {
        width: 16px;
        height: 16px;
    }
    
    .check-text {
        color: var(--LIGHT-SLATE, #8E8F99);
        /* Small Text */
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        /* 116.667% */
        letter-spacing: 0.48px;
        padding-left: 8px;
    }
    
    .check-icon {
        border: rgba(46, 47, 66, 0.40);
    }
    
    .policy-link {
        color: var(--IRIS, #4D5AE5);
        /* Link Text */
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.48px;
        text-decoration-line: underline;
    }
    
    .submit-form-btn {
        width: 169px;
        height: 56px;
        /* Button Text */
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        padding: 16px 32px;
        border-radius: 4px;
        background: #4D5AE5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        margin-bottom: auto;
    }
    
    .is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }